<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th>Dash</th>
      <th>Hls</th>
      <th>Progressive</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.dash %></td>
        <td><%= video.hls %></td>
        <td><%= video.progressive %></td>
        <td><%= video.name %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

		<%= bitmovin_player(
			dash: '//bitmovin-a.akamaihd.net/content/MI201109210084_1/mpds/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.mpd',
			hls: '//bitmovin-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8',
			poster: '//bitmovin-a.akamaihd.net/content/MI201109210084_1/poster.jpg'
		)
		%>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
